body {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

table, th, td {
  border: 1px dotted black;
}

table {
  width: 210mm;
  height: 148.5mm;
  margin-bottom: 5mm;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  width: 20%;
  height: 20%;
  text-align: center;
}

td img {
  width: 60%;
}